.container{
    text-align: center;
}
h1{
   font-size: 100px; 
}
span{
    font-size: 100px;
}
.btn{
    background-color: blue;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}