h2 {
  font-size: 50px;
}
.container {
  text-align: center;
}

.btn {
  background-color: blue;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
}
* {
  padding: 0;
  box-sizing: border-box;
}
