*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

h4{
    font-size: 50px;
    text-align: center;
}

 h2{
    font-size: 50px;
    text-align: center;
} 

.container {
  text-align: center;
}
.btn{
    background-color: white;
    color: black;
    border: none;
    border: 2px solid black;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}